# info for accessing the DTT web site
DTT_USER='put the DTT username here'
DTT_PASS='put the DTT password here'
DTT_URL='put the URL for the DTT home page here'

# secrets for staffservices-notices application for american red cross domain
CLIENT_ID = 'put client id here'
CLIENT_SECRET = 'put client secret here'
