[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
requests-html = "*"
oauthlib = "*"
requests-oauthlib = "*"
stringcase = "*"
tzlocal = "*"
pytz = "*"
python-dateutil = "*"
openpyxl = "*"
o365 = "*"
jinja2 = "*"
jinja2-pluralize = "*"
xlrd = "*"
tzdata = "*"
vobject = "*"
urllib3 = "*"
certifi = "*"
lxml-html-clean = "*"
pudb = "*"

[requires]
python_version = "3.12"
